*{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    
    overflow-x: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: 'Merriweather', serif;
}

.wrap-menu{
    font-size: 28px;
    align-items: center;
    position: fixed;
    display: flex;
    width: 100%;
    height: 50px;
    z-index:999;
    background-color: rgb(255, 255, 255);
    top: 0%;
    box-shadow: rgba(24, 1, 1, 0.986) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

ul {
    list-style: none;
    position: absolute;
    top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    display: flex;
    gap: 70px;
    width: 100%;
    flex-wrap: wrap;
   
}
.ancora{   
    text-decoration: none;
    color: rgb(255, 40, 208);
    opacity: 0.8;
    font-weight: 400;
    font-size: auto;
 
}
.ancora:hover{
    font-weight: 1000;
    opacity: 1;
}

.perfil01{
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 1033.9px;
    background: rgb(199, 199, 199);
    padding-left: 150px;
    
}
.perfil02{
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 1033.9px;
    background: rgb(188, 188, 188);
    padding-left: 150px;
}
.tecDiv{
    font-size: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 1033.9px;
    background: rgb(177, 177, 177);
}
.contactDiv{
    width: 100%;
    height: 1033.9px;
    background: rgb(166, 166, 166);
} 
.leftContact{
    background-color: #ffffff;
    width: 600px;
    height: 500px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-gap: 15px;
    padding: .5em;
    border: 2mm ridge blue;
    border-radius: 30px;
}
.rightContact{
    background-color: #ffffff;
    width: 600px;
    height: 500px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-gap: 15px;
    padding: .5em;
    border: 2mm ridge blue;
    border-radius: 30px;
}
.contactDiv{
    padding-top: 50px;
    padding-bottom:50px;
    width: 100%;
    height: auto;
    background-color: grey;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.img1{
    width: 500px;
    height: 500px;
    overflow: hidden;
    border-radius: 100%;
    position: relative;
    padding-right: 200px;
}
.img2{
    width: 500px;
    height: 500px;
    overflow: hidden;
    border-radius: 100%;
    position: relative;
    padding-right: 200px;
    margin-left: 500px;
}
.escritas{
    word-break: keep-all;
    margin-bottom: 70px;
    margin-bottom: 70px;
}

.escritas2{
    font-size: 40px;
}
    

.escritaPG2{
    word-break: keep-all;
    margin-bottom: 70px;
}

.escritaPG2a{
    font-size: 40px;
}
.quadrados{
    margin-bottom: 35%;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 50px;
    border: thick double white;
}
.tectext1{
    font-size: 15px;
}
.tectext2{
    font-size: 15px;
}
.quadrados1{
    margin-bottom: 10%;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 50px;
    border: thick double white;
    margin-right: 600
}