body{
    background-color: rgb(180, 180, 180);
    overflow-x: hidden;
    }
 .principal{
     width:97% ;
     height:auto;
     padding:;
     text-align: center;
 }
 
 .font-style{
     color: rgba(36, 0, 196);
    border-bottom: 2px solid rgb(28, 1, 146);
     font-size: 3rem;
     font-family: 'Lobster Two', sans-serif;
     padding-bottom: 15px;
 }
 .font-style02{
     font-size: 50px;
     color:rgb(36, 0, 196)
 }
 
 .div-calculos{
     flex-wrap: wrap;
     flex-direction: row;
     display: flex;
     justify-content: center;
     align-items: center;
     grid-gap: 10px;
     font-size: 20px;
 }

 .div-calculos2{
    background-color: rgba(0, 119, 255, 0.171);
    padding: .5em;
    border: 2mm ridge blue;
    border-radius: 30px;
    width: 330px;
    height: 330px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-gap: 15px;
    }
 
 .btn{
    width: 100px;
    height: 50px;
    background-color: rgb(17, 0, 255, 0.7);
    border: 2px solid rgba(5, 3, 100, 0.7);
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    color: black;
    cursor: pointer;
 }
 .btn:hover{
    background-color: rgba(5, 3, 100, 0.7);
 }
 
 .font-style03{
    font-size: 40px;
    justify-content: cente;
    display: flex;
    word-break: break-all:

 }